<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.open ()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>News Headlines</span>
  <span class="example-spacer"></span>
  <!-- <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>settings</mat-icon>
  </button> -->
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>
<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list class="list-nav">
      <mat-list-item class="list-item" *ngFor="let category of mCategory" (click)="searchArticles(category.value);sidenav.close();">
        <span class="source-name"> {{category.key}}</span>

      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-card class="example-card" *ngFor="let article of mArticles">
    <mat-card-content>
      <div class="desktop">
        <mat-grid-list cols="4" rowHeight="100px">
          <a href={{article.url}}>
            <mat-grid-tile [colspan]="1">
              <img class="img-article" src={{article.urlToImage}} alt="img" srcset="">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              <div class="newsContent">
                <h3>{{article.title}}</h3>
                <p>{{article.description}}</p>
              </div>
            </mat-grid-tile>
          </a>
        </mat-grid-list>
        <p class="time-date">
          {{article.source.name}} | {{article.publishedAt | date:'medium'}}
        </p>
      </div>

      <div class="mobile">
        <mat-grid-list cols="4" rowHeight="100px">
          <a href={{article.url}}>
            <mat-grid-tile [colspan]="1">
              <img class="img-article" src={{article.urlToImage}} alt="img" srcset="">
            </mat-grid-tile>
          </a>
          <mat-grid-tile [colspan]="3">
            <div class="newsContent">
              <a href={{article.url}}>
                <h3>{{article.title}}</h3>
              </a>



            </div>
          </mat-grid-tile>

        </mat-grid-list>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{article.source.name}} | {{article.publishedAt | date:'medium'}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{article.description}}</p>
          </mat-expansion-panel>
        </mat-accordion>

      </div>


    </mat-card-content>
  </mat-card>
</mat-sidenav-container>