.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-card{
      margin:15px;
  }
  
  .img-article{
      width: 100%;
      height: auto;
  }
  
    
  .example-container {
      width: 100%;
      height: auto;
      border: 1px solid rgba(111, 111, 111, 0.50);
  }
    
  .example-sidenav-content {
      display: flex;
      height: 75%;
      align-items: center;
      justify-content: center;
  }
    
  .example-sidenav {
      padding: 20px;
  }
  
  .source-name {
      margin-left:5px; 
  }
  .newsContent{
     margin-left: 20px;
     text-align: left;
  }
  a{
    color: black;
    text-decoration: none;
  }
  /* .list-item:hover{
      cursor: pointer;
      background-color: #3f51b5;
      color: white;
  }
   */

  @media only screen and (max-width: 800px) {
    .desktop{
        display: none;
    }
    .mobile{
        visibility: visible;
    }
}
  @media only screen and (min-width: 801px) {
    .mobile{
        display: none;
    }
}